.Header {
  @include box(100vw, 50px);
  background-color: #323a45;
  @include make-flex();
  z-index: 100;

  &__container {
    @include box();
    max-width: 1152px;
    color: white;
    @include make-flex($just: space-between, $dir: row);

    @include respondAt(1160px) {
      padding-left: 8px;
    }
    .element {
      accent-color: rgba(145, 71, 255, 0.9);
    }
    &--left,
    &--right {
      @include box(auto);
      @include make-flex($dir: row);
    }

    &--right {
      gap: 20px;
    }
  }

  &__menu {
    @include box(auto);
    list-style: none;
    @include make-flex($dir: row);
    gap: 20px;
    li {
      font-family: "Inter";
      @include box(auto);
      @include make-flex();
      color: #a9a9ab;
      cursor: pointer;
      transition: color 0.15s ease-in-out;
      &:hover {
        color: white;
      }
    }
  }
}
