.GamePage {
  @include make-flex($dir: column, $just: flex-start);
  @include box($height: auto);
  // min-height: 100vh;
  // overflow-y: auto;
  // overflow-x: hidden;

  &__container {
    position: relative;
    @include box($height: auto);
    @include make-flex($just: flex-start, $dir: row, $align: flex-start);
    max-width: 1152px;
    gap: 20px;
    // overflow-x: auto;
    // transform: translateY(250px);
    margin-top: 250px;
  }

  &__backgroundImage {
    left: 0;
    top: 50px;
    overflow: hidden;
    @include box(100vw, 460px);
    position: absolute;
    transition: height 0.15s ease-in-out;

    &--image {
      @include box();
      background-size: cover;
      background-position: top center;
      -moz-filter: blur(18px);
      -webkit-filter: blur(18px);
      filter: blur(18px);
      transform: scale(1.1);
    }
  }

  &__stage {
    @include box(100%);
    @include make-flex($dir: row, $align: flex-start);
    gap: 70px;
    &--left {
      @include box(264px, auto);
      @include make-flex($just: flex-start);
      gap: 20px;

      img {
        @include box($height: 352px);
        border-radius: 7px;
      }
    }

    &--right {
      @include box(60%, auto);
      font-family: "Open Sans", sans-serif;
      @include make-flex($align: flex-start, $just: flex-start);
      gap: 15px;
    }

    &--rightTop {
      @include make-flex($align: flex-start, $just: flex-start);
      @include box($height: auto);
      gap: 15px;
      span {
        @include make-flex($just: flex-start, $dir: row);
        gap: 10px;
        font-weight: 600;
        color: white;
        text-shadow: 0 1px 1px rgb(0 0 0 / 40%);
        font-style: italic;
        font-size: 25px;
        opacity: 0.8;
        margin-bottom: 10px;
        label {
          font-style: normal;
          font-size: 20px;
        }
      }
    }

    &--row {
      @include make-flex($align: flex-start, $just: flex-start);
      @include box($height: auto);
      gap: 15px;
      margin-top: 20px;

      h4 {
        height: 40px;
        width: 100%;
        background-color: #353a44;
        color: white;
        border-radius: 4px;
        padding: 9px;
      }
    }
    &--title,
    &--storyline {
      color: white;
      font-family: "Open Sans", sans-serif;
    }

    &--title {
      text-shadow: 0 1px 1px rgb(0 0 0 / 40%);
      font-size: 60px;
      font-weight: 600;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;

      // &:hover {
      //   position: absolute;
      //   white-space: wrap;
      //   text-overflow: unset;
      //   background-color: #34373b;
      //   z-index: 1;
      //   border-radius: 4px;
      //   padding: 9px;

      // }
    }

    &--rowContent {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.5;
      color: #34373b;
      @include make-flex($dir: row, $align: flex-start, $just: flex-start);
      gap: 10px;
      flex-wrap: wrap;
      @include box($height: auto);

      ul {
        list-style: none;
        @include make-flex($dir: row, $align: flex-start, $just: flex-start);
        gap: 10px;
        flex-wrap: wrap;
        @include box($height: auto);
      }
      a,
      li {
        list-style: none;
        border: 1px solid #a7a7a7;
        padding: 8px;
        border-radius: 2px;
        transition: all 0.3s ease;
        white-space: nowrap;
        @include make-flex();
        flex-grow: 1;
        &:hover {
          cursor: pointer;
          background: linear-gradient(329deg, #cf94ff, #ff8e7c);
          color: white;
          border-color: #464646;
        }
      }

      iframe {
        flex-grow: 1;
        height: 386px;
      }
    }
  }
}
