.PlatformPage {
  @include make-flex($dir: column, $just: flex-start);
  @include box($height: unset);
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  &__container {
    @include box(100vw, auto);
    max-width: calc(1152px + 20px);
    position: relative;
    padding: 0 20px;
    @include make-flex($just: flex-start);
    gap: 30px;
    &--title {
      @include box($height: auto);
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 28px;
      letter-spacing: 1px;
      padding-top: 30px;
      position: relative;
    }

    &--verticalView {
      @include make-flex();
      @include box();
      border: 0.5px solid #a7a7a7;
      border-radius: 10px;
      padding: 13px;

      gap: 20px;

      hr {
        @include box(80%, 0.5px);
        background-color: #a7a7a7;
        border: 0.5px;
      }
    }
  }
}
