.AuthModal {
  @include make-flex($just: flex-start);
  @include box(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.49);
  backdrop-filter: blur(15px);
  z-index: 11;
  padding-top: 70px;
  color: black;
  

  @include respondAt(620px) {
    padding: 10px;
  }
  &__container {
    gap: 10px;
    position: relative;
    min-height: 450px;
    border-radius: 7px;
    @include make-flex($just: flex-start);
    @include box(600px, auto);
    border: 1px solid #323a45;
    background-color: white;

    @include respondAt(400px) {
      min-height: 400px;
    }

    &--close {
      position: absolute;
      top: 17px;
      right: 22px;
      font-size: 30px;
      cursor: pointer;
      

      &:hover {
        color: rgba(145, 71, 255, 0.9);
      }

      @include respondAt(400px) {
        top: 10px;
      }
    }

    @include respondAt(620px) {
      @include box($height: auto);
    }
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    text-align: center;
    width: 100%;
    line-height: 90px;

    @include respondAt(400px) {
      font-size: 40px;
      line-height: 70px;
    }
  }
  &__tabs {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    @include make-flex($dir: row, $just: flex-start);
    @include box(100%, auto);
    padding: 0 30px;
    flex-wrap: wrap;
    gap: 30px;

    @include respondAt(400px) {
      font-size: 12px;
    }

    a {
      z-index: 1;
      @include respondAt(450px) {
        flex-grow: 1;
        text-align: center;
      }
      p {
        padding: 8px 10px 5px 10px;
        position: relative;
        @include respondAt(915px) {
          width: 100%;
        }
        background-color: rgba(145, 71, 255, 0.9);
        border: 1px solid rgba(145, 71, 255, 0.9);

        &:before {
          z-index: -1;
          @include box();
          content: "";
          position: absolute;
          border: 1px dashed black;
          bottom: -5px;
          right: -5px;
        }
        &:hover {
          background-color: rgba(145, 71, 255, 0.9);
          color: white;
          border: 1px solid rgba(145, 71, 255, 0.9);

          &:before {
            z-index: -1;
            border: 1px solid black;
            @include box();
            content: "";
            position: absolute;
            background-color: rgba(145, 71, 255, 0.9);
            bottom: -5px;
            right: -5px;
          }
        }
      }
    }
    .route--active p {
      background-color: rgba(145, 71, 255, 0.9);
      color: #0f1621;

      &:before {
        z-index: -1;
        @include box();
        content: "";
        position: absolute;
        background-color: black;
        bottom: -5px;
        right: -5px;
      }
    }
  }
}
